*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: hsl(200, 50%, 12%);
}

.head {
  background: hsl(19, 76%, 88%);
  width: 300px;
  height: 340px;
  border-radius: 70% 70% 100% 100%; /* head shape, fatter on the top and rounder at the bottom */

  display: flex;
  justify-content: center;
  align-items: center;
}

.eyes,
.brows {
  position: absolute;
  width: 195px; /* The space between two eyes is generally the size of one eye */
  display: flex;
  justify-content: space-between;
}

.eye {
  background: white;
  height: 40px;
  width: 65px;
  border-radius: 100%;

  /* eyelids */
  border-top: 3px solid hsl(19, 46%, 68%);
  border-bottom: 3px solid hsl(19, 46%, 68%);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative; /* Need to set position to be relative otherwise the overflow has not effect */
  overflow: hidden; /* hide the overflow eye pupil because pupil is set to be bigger than eye a bit */
}
/* eye pupil - green part */
.eye::before {
  content: "";
  position: absolute;
  width: 41px;
  height: 41px;
  background-color: hsl(78, 10%, 42%);
  border-radius: 100%;

  /* Make the pupil look at other direction */
  margin-left: 10px;
  margin-bottom: 5px;
}
/* eye pupil - black part */
.eye::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #333;
  border-radius: 100%;

  /* Make the pupil look at other direction */
  margin-left: 15px;
  margin-bottom: 7px;
}

.brow {
  width: 65px;
  height: 32px; /* The higher the number, the more rounded it is */
  border-top: 10px solid hsl(27, 33%, 28%); /* the px number decide how thick it is for the eye brow */
  border-radius: 100%;

  margin-bottom: 35px; /* this is to push up the eye brow so it won't hide behide the eye */
}

.nose {
  position: absolute;
  border: 4px solid hsl(19, 46%, 68%);

  width: 40px;
  height: 30px;
  border-radius: 0 0 100% 100%;
  border-top: none;

  margin-top: 100px;
}

.mouth {
  position: absolute;
  width: 100px;
  height: 40px;
  background: white;
  margin-top: 225px;

  border-radius: 20% 20% 100% 100%;

  /* month lid */
  border: 1px solid hsl(19, 46%, 68%);
  border-top-width: 2px;
  border-bottom-width: 4px;
}

.ears {
  z-index: -1; /* Put the ear behind the head */

  position: absolute;
  width: 340px;
  display: flex;
  justify-content: space-between;
}
.ear {
  width: 25px;
  height: 70px;
  background: red;
}
